

  
a {
    text-decoration: none;
    padding: 8px 15px;
    transition: all 0.3s ease;
}
  
a:hover {
    background-color: #004ef7;
    color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav {
    text-align: center;
}